@import './colors';
@import './fonts';

html,
body {
  height: 100%;
}
body {
  background-color: $black;
  font-family: 'PT Sans Narrow', sans serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  color: $white;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 18px 0;
}
:global {
  #app {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  #container {
    position: relative;
    height: 100%;
    width: 100%;
  }
}
