@font-face {
  font-family: 'Neo-Navy 3D';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/neonavy3d.woff2') format('woff2'),
    url('../fonts/neonavy3d.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Condensed'),
    url('../fonts/Roboto-Condensed.woff2') format('woff2'),
    url('../fonts/Roboto-Condensed.woff') format('woff');
}

@font-face {
  font-family: 'Fatya';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Fatya.woff2') format('woff2'),
    url('../fonts/Fatya.woff') format('woff');
}

@font-face {
  font-family: 'SuperPlumberBrothers';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/SuperPlumberBrothers.woff2') format('woff2'),
    url('../fonts/SuperPlumberBrothers.woff') format('woff');
}
