.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.description {
  text-align: left;
}

#canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #555;
}

#loadgame {
  align-self: center;
  border-radius: 6px;
  height: 40px;
  padding: 0.6em;
  width: 120px;
  background-color: lightcoral;
  color: white;
  border: none;
  white-space: nowrap;
}
