.smb2badge {
  padding: 10px 20px;
  margin-bottom: 12px;
  border-radius: 20px;
  border: 10px outset #b72504;
  background-color: #6185f8;
  font-family: 'SuperPlumberBrothers';
  line-height: 1.2;
}

.smb2badgetitle {
  font-size: 32px;
}

.smb2badgesubtitle {
  font-size: 24px;
}
